---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts'
import Body from '../components/Body.astro'
import Content from '../components/Content.astro'
import { IoChevronForward } from 'react-icons/io5'
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <Body>
    <Header title={SITE_TITLE} />
    <main class="pt-[56px]">
      <Content>
        <section class="flex flex-col items-center mb-8">
          <img src="/404-error-light.svg" alt="Hikari and Cloud" width="400" height="400"
						class="hidden dark:block"/>

					<img src="/404-error.svg" alt="Hikari and Cloud" width="400" height="400" class="dark:hidden"/>

          <h1 class="text-3xl text-center font-mplus mt-12 mb-8">
            Oops, not found
          </h1>
          <div class="text-center py-4">
            <button class="dark:bg-slate-600 p-3 rounded-xl bg-orange-700">
              <a
              class="inline-flex items-center gap-1 text-white"
              href="/"
              >Go to Index <IoChevronForward />
            </a>
            </button>
           
          </div>
        </section>
      </Content>
    </main>
    <Footer />
  </Body>
</html>