---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Body from '../components/Body.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Content from '../components/Content.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<Body>
		<Header />
		<main class="pt-[56px] min-h-screen">
			<Content>
				<section class="flex flex-col items-center mb-8">
					<img src="/cloudhikari.svg" alt="Hikari and Cloud" width="400" height="400"
						class="hidden dark:block"/>

					<img src="/cloudhikari-light.svg" alt="Hikari and Cloud" width="400" height="400" class="dark:hidden"/>

					<div class="text-center text-wrap max-w-xl text-lg font-suse sm:max-w-lg sm:text-md">
						
						<p class="mb-4">
							Vincent and Charlie welcome you to the world of daily struggle.
							Embark on the journey with them, as they accompany their humans through life's ups and downs. 
							Navigating amidst the chaos, one day at a time, is where the adventure begins.
							<br/>
						</p>
						<p class="italic">
							May the solace and warmth be the comfort waiting for you.
						</p>
					</div>

					<button class="mt-8 bg-slate-600 hover:bg-slate-700 text-white font-bold py-2 px-4 rounded">
						<a href="/blog">View All Chapters
						</a>
					</button>
				</section>
			</Content>
		</main>
		<Footer />
	</Body>
</html>